
* {
    scroll-behavior: smooth;
}

.playground.container {
    
    .playground.header {
        padding-top: 40px;
    }
    
    [id^="/dev/playground"] {
        opacity: 0;
        &:target {
            animation: fadein 1s 500ms forwards;
        }
    }
    
    forms[playground] {
        display: block;
        padding-top: 40px;
    }
    
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
