
<div class="app container">
    <header>
        <h1><slot></slot> ${title}</h1>
    </header>
    <main>
        <input [(value)]="title" />
        <button type="button" (click)="handleClick($event, title)">Change Title</button>
        <!-- <todo *for="let [i, todo] of todos" [data]="{todo}" [index]="{i}" value="${{todo}.title}"></todo> --> <!-- <-- uses "symbols" ("{todo}") -->
        <todos [data]="todos"></todos>
    </main>
    <footer>
        <slot name="footer"></slot>
    </footer>
</div>
