
<form class="playground forms" (submit)="handleSubmission($event)">
    <h1>Forms</h1>
    
    <fieldset>
        <legend>textarea</legend>
        <label>
            <div>Value: ${textarea}</div>
            <textarea [(value)]="textarea" style="min-width: 320px; min-height: 80px;"></textarea>
        </label>
    </fieldset>
    
    <fieldset>
        <legend>select box</legend>
        <label>
            <div>select:not([multiple]): ${select}</div>
            <select [(value)]="select">
                <option [value]="-1" selected disabled>Please select an option...</option>
                <option [value]="{option}.id" *for="let [i, option] of options">${{option}.label}</option>
            </select>
        </label>
        <label>
            <div>select[multiple]: ${multiple.length}</div>
            <select multiple (change)="handleMultiple($event)" style="min-height: 220px;">
                <option [value]="-1" selected disabled>Please select an option...</option>
                <option [value]="{option}.id" [selected]="$multiple.has({option}.id)" *for="let [i, option] of options">${{option}.label}</option>
            </select>
        </label>
    </fieldset>
    
    <fieldset>
        <legend>input[type="*"]</legend>
        <label>
            <div>input[type="text"]: ${text}</div>
            <input type="text" [(value)]="text" />
        </label>
        <label>
            <div>input[type="date"]: ${date}</div>
            <input type="date" [(value)]="date" />
        </label>
        <label>
            <div>input[type="checkbox"]: ${checkbox}</div>
            <input type="checkbox" [(checked)]="checkbox" />
        </label>
        <label>
            <div>input[type="radio"]: ${radio}</div>
            <br />
            <label *for="let [i, option] of options">
                <div>${{option}.label}</div>
                <input type="radio" name="radiogroups" [value]="{option}.id" [(checked)]="{option}.id === radio" (change)="handleRadio($event)" />
            </label>
        </label>
    </fieldset>
    
</form>
